<!doctype html>
<title>Donut Day Roulette</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1><a href="./">Donut Day Roulette</a></h1>
    {{ message_of_the_day }}
    <br /><br />
    <a href="./how_it_works" class="button">How It Works</a>
    <a href="./view_entries" class="button">View Entries</a>
    <a href="./take_donut" class="button">Take Donut</a>
    <a href="./donut_cam" class="button">Donut Cam</a>
    <br /><br />
    {% block body %}{% endblock %}
</div>
